body{
margin:0;
font-family:Arial;
background:linear-gradient(90deg,#1f4aa8,#ff6a3d);
color:white;
}

header{
text-align:center;
padding:40px;
}

nav{
text-align:center;
background:rgba(0,0,0,0.2);
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px 20px;
}

.button{
background:#ff6a3d;
padding:15px 30px;
color:white;
border-radius:10px;
text-decoration:none;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:40px;
}

.item{
background:white;
color:black;
padding:40px;
border-radius:15px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
padding:40px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:10px;
border-radius:5px;
border:none;
}

button{
padding:15px;
background:#ff6a3d;
color:white;
border:none;
border-radius:8px;
}

.whatsapp{
background:#25D366;
padding:15px 25px;
color:white;
border-radius:10px;
text-decoration:none;
}
